<!-- EJS is a JavaScript templating system. 

   To run this code, you need to install the ejs-cli npm module

   If you want to install EJS globally, just run "npm install -g ejs-cli"
   At this point you can run "ejs-cli colorDemo.ejs > test.html"

   If you want to instal EJS local to your current project, you need to first
   initialize an npm project, then install ejs-cli:
      npm init
      npm install ejs-cli --save
   At this point, you can run ejs:
     ./node_modules/.bin/ejs-cli colorDemo.ejs > test.html
-->

<% let colors = ['red', 'green', 'blue', 'orange', 'pink', 'purple', 'violet', 'lightgreen', 'fuchsia']; %>

    <html>

    <head>
        <title>Color Samples using ERB</title>
        <style>
            /* You can even use erb to generate CSS */
            
            <% colors.forEach( (color)=> {
                %> .color-<%=color %> {
                    color: <%=color %>;
                }
                <%
            }
            
            );
            %>
        </style>

        <body>

            <h1> List Colors (ERB)</h1>

            This section simply lists the color names because the code is simpler.

            <ul>
                <% colors.forEach( (color) => { %>
                    <li>
                        <%= color %>
                    </li>
                    <% }); %>
            </ul>

            <h1> Show Colors </h1>
            This section shows the colors. Same ideas as above, but the code is a little harder to read.

            <ul>

                <% colors.forEach( (color) => { %>
                    <li><span class='color-<%=color %>'> <%= color %></span></li>
                    <% }); %>
            </ul>


            <h1> Show Colors (v2) </h1>
            This section also shows the colors, but uses the <code>map</code> method. Some may find this code easier to follow.

            <ul>
                <%= colors.map( color => `<li><span class='color-${color}'>${color}</span></li>`).join("\n"); %>
            </ul>


        </body>

    </html>