<%# ERB stands for "Embedded Ruby" %>
<%# To run:  erb colorDemo.html > output.html %>
<%# To install:  gem install erb %>

<% colors = [:red, :green, :blue, :orange, :pink, :purple, :violet, :lightgreen, :lightred] %>

<html>
  <head>
    <title> Color Samples using ERB</title>
  <style>
  
/* You can even use erb to generate CSS */
<% colors.each do |color| %>
  .color-<%= color %> {
    color: <%= color %>
  }
<% end %>
</style>

<body>

<h1> List Colors (ERB)</h1>

This section simply lists the color names because the code is simpler.

<ul>
<% colors.each do |color| %>
   <li><%= color %></li>
<% end %>
</ul>

<h1> Show Colors </h1>
This section shows the colors.  Same ideas as above, but the code is a little harder to read.

<ul>

<% colors.each do |color| %>
  <li><span class='color-<%=color %>'> <%= color %></span></li>
<% end %>  
</ul>


<h1> Show Colors (v2) </h1>
This section also shows the colors, but uses the <code>map</code> method. Some may find this code easier to follow.

<ul>
<%= colors.map { |color| "<li><span class='color-#{color}'>#{color}</span></li>" }.join("\n") %>  
</ul>


</body>
</html>
