<!-- Examine the different widths / screen sizes for a web page -->
<% num_rows = 20
   colors = [:blue, :green, :orange, :purple] 
 %>

<html>
<head>
<style>

<% (1..num_rows).each do |i| %>
  .width<%= i*100 %> {
    width: <%= i*100%>px;
    height: 20px;
    border: 1px solid <%= colors[i % colors.length] %>;
    margin-bottom: 5px;
  }
<% end%>  
</style>


<body>

Screen: <span id='screen_width'></span> Window:  <span id='window_width'></span> Document:  <span id='document_width'></span>
<button onclick="getWidth()">Refresh</button>


<% (1..num_rows).each do |i| %>
  <div class='width<%=i*100 %>'>
  Width <%= i*100 %>
  </div>
<%end%>

<script>
function getWidth() {

// This calculation recommended by https://javascript.info/size-and-scroll-window
let documentWidth = Math.max(
  document.body.scrollWidth, document.documentElement.scrollWidth,
  document.body.offsetWidth, document.documentElement.offsetWidth,
  document.body.clientWidth, document.documentElement.clientWidth
);


  document.getElementById('screen_width').innerHTML = screen.width;
  document.getElementById('window_width').innerHTML = document.documentElement.clientWidth;
   document.getElementById('document_width').innerHTML = documentWidth;
}
getWidth();

window.onresize = getWidth;

</script>

</body>

</html>