// PUG is a HAML-like template engine for JavaScript

- var colors = ['red', 'green', 'blue', 'orange', 'pink', 'purple', 'violet', 'lightgreen', 'fuchsia'];

html
  head
    title Color Samples using PUG
    style !{colors.map( color => `.color-${color} { color: ${color};}`).join("\n")}

  body
    h1 List Colors (PUG)

    p This section simply lists the color names because the code is simpler.

    ul 
      each color in colors 
       li= color 

    h1 Show Colors
 
    p This section shows the colors.  Same ideas as above, but the code is a little harder to read.
 
    ul
      each color in colors 
        li
          span(class=`color-${color}`)= color
 
 
 
  h1 Show Colors (v2)

  p This section also shows the colors, but uses the <code>map</code> method. Some may find this code easier to follow.
 
  // The ~!{} syntax is needed so that the <li> tags don't get escaped into &lt;li&gt;
  ul !{colors.map( color => `<li><span class='color-${color}'>${color}</span></li>`).join("\n")}